h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
}
.current {
  font-family: "Bebas Neue", cursive;
  font-size: larger;
}
#searchbar {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
#glass {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 214px;
  bottom: 54px;
}
.search {
  font-size: xx-large;
}
.location {
  text-align: center;
  font-size: 65px;
  font-family: "Bebas Neue", cursive;
  padding: 20px;
}
h3,
a:link {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
  color: black;
  text-decoration: none;
}
div.templinks {
  text-align: center;
  position: relative;
  left: 80px;
  bottom: 115px;
}
a.celsius,
a.fahrenheit {
  font-weight: 400;
  font-size: 30px;
}
.row {
  text-align: center;
}
img {
  max-width: 300px;
}
.livetemp {
  padding-top: 87px;
  font-size: 27px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.description {
  text-transform: capitalize;
}
.card-header {
  font-family: "Bebas Neue", cursive;
  font-size: larger;
  text-align: center;
}
h6,
.card-text,
.card-title {
  text-align: center;
}
.card-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: larger;
}
.forecast {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
b {
  font-family: "Raleway", sans-serif;
}
.card-group {
  margin-top: 60px;
}
.footer {
  text-align: center;
  font-size: larger;
  opacity: 0.6;
  font-family: "Courier New";
}

a.netlify {
  font-size: large;
}

.icon {
  position: relative;
  top: 50px;
  width: 50%;
}

.forecast-header {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.5);
}
.forecast-min {
  font-family: "Raleway", sans-serif;
  color: rgba(39, 33, 66, 0.5);
  font-size: 21px;
}

.forecast-max {
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-weight: 600;
  padding-right: 1em;
}
